.container {
  position: relative;
  width: 100%;
  min-height: 2.5em;
  border: .05em solid #bebebe;
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .25em;
  border-radius: .25em;
  outline: none;
  box-sizing: border-box;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.container.outlined {
  background-color: #bebebe;
  border-color: #bebebe;
}

.container:focus {
  border-color: #bebebe;
}

.value {
  flex-grow: 1;
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
}

.arrowIcon {
  font-size: 1.5em; /* Adjust the size */
  margin-right: .3em; /* Move the icon slightly more left */
  color: black; /* Adjust the color if needed */
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border: .05em solid #bebebe;
  border-radius: .25em;
  width: 100%;
  left: 0;
  top: calc(100% + .25em);
  background-color: white;
  z-index: 10000;
  box-sizing: border-box;
}

.options.show {
  display: block;
}

.option {
  padding: .25em .5em;
  cursor: pointer;
  min-height: 2em;
  line-height: 2em;
  font-size: .85em;
}

.option.selected {
  background-color: rgba(161, 240, 214, 0.171);
}

.option.highlighted {
  background-color: rgba(161, 240, 214, 0.171);
  color: black;
}

.option-badge {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1.5em;
  padding: .5em 1em;
  gap: .5em;
  cursor: pointer;
  background: #b1b1b121;
  outline: none;
  position: relative;
  min-width: 5em;
  height: .7em;
  font-size: .85em;
}

.option-badge:hover,
.option-badge:focus {
  background-color: hsl(0, 100%, 90%);
}

.option-badge:hover > .remove-btn,
.option-badge:focus > .remove-btn {
  color: hsla(0, 100%, 63%, 0.432);
}

.remove-btn {
  font-size: 1.2em;
  color: #bebebe;
  background: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
}

.option-badge > .remove-btn {
  font-size: 1.35em;
  color: grey;
  background: none;
  border: none;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: .25em;
  top: 50%;
  transform: translateY(-50%); 
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  width: 100%;
}

.searchInput {
  flex-grow: 1;
  min-height: 1.5em;
  padding: 0.5em 8px 0.5em 36px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 0;
  outline: none;
  font-size: 1em;
  line-height: 1.5em;
}

.searchInput:focus {
  box-shadow: none;
}

.searchIcon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #bebebe;
  font-size: 1.5em;
}

.outlined {
  border: 1px solid #ccc;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Comfortaa', sans-serif;
}

.label {
  font-size: .85em;
  margin-right: 10px;
  line-height: 1.5em;
  width: 15%;
}

.highlight {
  background-color: rgb(50, 182, 169);
}

.clearButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  outline: none;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #6b6b6b;
}
